.dino {
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url(Dinosor.png);
  bottom: 0px;
}

.obstacle {
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url(Obstacle.png);
  bottom: 0px;
}

@keyframes slideright {
  from {
      background-position: 70000%;
  }
  to {
      background-position: 0%;
  }
}

@-webkit-keyframes slideright {
  from {
      background-position: 70000%;
  }
  to {
      background-position: 0%;
  }
}

#desert {
  position: absolute;
  bottom: 0px;
  background-image: url('Enviornment.png');
  background-repeat: repeat-x;
  animation: slideright 600s infinite linear;
  -webkit-animation: slideright 600s infinite linear;
  width: 100%;
  height: 200px;
}